.webpage-proposal {
  display: none;
  font-family: Poppins, sans-serif;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  padding: 0.5%;
  text-align: center;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.webpage-proposal-title {
  font-size: 50px;
  font-family: "Sofia", cursive;
  color: white;
  margin: 10px;
}

.webpage-proposal-contents {
  color: rgba(255, 255, 255, 0.822);
  font-size: 18px;
  text-align: center;
}

/* Media Query for Phones */
@media (max-width: 600px) {
  .webpage-proposal {
    width: 90%;
    top: 10%;
    padding: 2%;
  }

  .webpage-proposal-title {
    font-size: 30px;
    margin: 5px;
  }

  .webpage-proposal-contents {
    font-size: 16px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 601px) {
  .webpage-proposal {
    width: 50%;
    top: 20%;
    padding: 0.5%;
  }

  .webpage-proposal-title {
    font-size: 50px;
    margin: 10px;
  }

  .webpage-proposal-contents {
    font-size: 18px;
  }
}