.webpage-questions {
  display: none;
  font-family: Poppins, sans-serif;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  padding: 0.5%;
  text-align: center;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.webpage-questions-title {
  color: white;
  margin: 10px;
}

.webpage-questions-contents {
  color: rgba(255, 255, 255, 0.822);
  font-size: 18px;
  text-align: center;
}

.webpage-questions-wrapmain-double {
  margin-top: 0.5rem;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-columns: 25% 25%;
  justify-content: center;
  align-items: center;
  direction: ltr;
  flex-direction: auto;
}

.webpage-questions-wrapmain-triple {
  margin-top: 0.5rem;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  align-items: center;
  direction: ltr;
  flex-direction: auto;
}

.webpage-questions-header {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

.webpage-questions-description {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

.webpage-questions-wrapmain-single {
  margin-top: 0.5rem;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-columns: 70%;
  justify-content: center;
  align-items: center;
  direction: ltr;
  flex-direction: auto;
}

.webpage-questions-wrapmain-psponsors {
  margin-top: 0.5rem;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-columns: 70%;
  justify-content: center;
  align-items: center;
  direction: ltr;
  flex-direction: auto;
}

.webpage-questions-entry {
  background-color: #758564ef;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px transparent solid;
}

.webpage-questions-details {
  color: #F0F0F0;
  text-align: center;
}

.webpage-questions-details a {
  color: #F0F0F0;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .webpage-questions {
    width: auto;
    top: 10%;
  }

  .webpage-questions-wrapmain-single,
  .webpage-questions-wrapmain-psponsors {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 480px) {
  .webpage-questions {
    width: auto;
  }

  .webpage-questions-details {
    font-size: 12px;
  }

  .webpage-questions-wrapmain-double,
  .webpage-questions-wrapmain-triple,
  .webpage-questions-wrapmain-single,
  .webpage-questions-wrapmain-psponsors {
    grid-template-columns: auto;
  }
}